.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: rgb(35, 37, 41);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: 20px;
  padding-bottom: 20px;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
