.App {
  max-width: 1440px;
  margin: 0 auto;
  outline: none;
}

.answerWrapper {
  padding: 70px 250px 25px 250px;
}

.answerWrapper h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.answerWrapper p,
.answerWrapper ul {
  margin-bottom: 20px;
}

.answerWrapper p {
  text-indent: 15px;
}

.answerWrapper b {
  font-weight: 700;
  color: rgba(255, 0, 0, 0.606);
}

.answerWrapper span {
  border-bottom: 2px solid rgba(255, 0, 0, 0.606);
}

.answerWrapper li {
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

.answerWrapper li::before {
  content: '•';
  font-size: 20px;
  margin-right: 10px;
}

.answerWrapper ul > li {
  margin-top: 15px;
}

.answerWrapper th {
  width: 50%;
}

.answerWrapper table {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

.answerWrapper th,
.answerWrapper td {
  padding: 5px;
  border: 1px solid azure;
}

.btnWrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 250px 25px 250px;
}

@media screen and (max-width: 1440px) {
  .answerWrapper {
    padding: 70px 5px 25px 5px;
  }

  .btnWrapper {
    padding: 0 5px 25px 5px;
  }
}
